---
http_interactions:
- request:
    method: get
    uri: https://api.rapgenius.com/artists/130/songs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d41131ec03f64d6149aac44dfb2760e9"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"response":{"songs":[{"updated_by_human_at":1379540523,"primary_artist":{"image_url":"http://images.rapgenius.com/2b3fa8326a5277fa31f2012a7b581e2e.500x319x11.gif","url":"http://rapgenius.com/artists/Drake","name":"Drake","id":130},"pyongs_count":null,"title":"2011
        Juno Awards In Toronto","stats":{"hot":false,"pageviews":1522},"annotation_count":3,"verified_annotation_count":0,"id":214614},{"updated_by_human_at":1390693486,"primary_artist":{"image_url":"http://images.rapgenius.com/2b3fa8326a5277fa31f2012a7b581e2e.500x319x11.gif","url":"http://rapgenius.com/artists/Drake","name":"Drake","id":130},"pyongs_count":44,"title":"All
        Me","stats":{"concurrents":17,"hot":false,"pageviews":2201501},"annotation_count":87,"verified_annotation_count":2,"id":196551},{"updated_by_human_at":1388340209,"primary_artist":{"image_url":"http://images.rapgenius.com/2b3fa8326a5277fa31f2012a7b581e2e.500x319x11.gif","url":"http://rapgenius.com/artists/Drake","name":"Drake","id":130},"pyongs_count":3,"title":"Trust
        Issues","stats":{"concurrents":4,"hot":false,"pageviews":241283},"annotation_count":34,"verified_annotation_count":0,"id":51360},{"updated_by_human_a[...]
- request:
    method: get
    uri: https://api.rapgenius.com/artists/130/songs/?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f1b4a295d5d198ed2cdbaa73b7ec3bce"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"response":{"songs":[{"annotation_count":3,"verified_annotation_count":0,"title":"[...]
- request:
    method: get
    uri: https://api.rapgenius.com/artists/130
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2677ffefc8fdd2c0efa9fbf1e2b70c2b"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"response":{"artist":{"description":{"dom":{"tag":"root","children":[{"tag":"p","children":["Drake
        is part of a generation of new rappers, along with ",{"tag":"a","attributes":{"href":"http://rapgenius.com/artists/Wiz-khalifa"},"children":["Wiz
        Khalifa"]},", ",{"tag":"a","attributes":{"href":"http://rapgenius.com/artists/Kid-cudi"},"children":["Kid
        Cudi"]}," and others, who came up through internet mixtapes. Drizzy put out
        three mixtapes from 2006 to 2009. These mixtapes got him the attention of
        ",{"tag":"a","attributes":{"href":"http://rapgenius.com/artists/Lil-wayne"},"children":["Lil
        Wayne"]},", and spawned the hit singles ",{"tag":"a","attributes":{"href":"http://rapgenius.com/lyrics/Drake-ft-eminem-kanye-west-and-lil-wayne/Forever"},"data":{"api_path":"/songs/147"},"children":["\u201cForever\u201d"]},"
        and ",{"tag":"a","attributes":{"href":"http://rapgenius.com/lyrics/Drake/Best-i-ever-had"},"data":{"api_path":"/songs/672"},"children":["\u201cBest
        I Ever Had.\u201d"]}," During this period, Drake also made a slew of guest
        appearances on tracks by artists from ",{"tag":"a","attributes":{"href":"http://rapgenius.com/lyrics/Dj-khaled-ft-drake-lil-wayne-rick-ross-usher-and-young-jeezy/Fed-up"},"data":{"api_path":"/songs/2687"},"children":["DJ
        Khaled"]}," to ",{"tag":"a","attributes":{"href":"http://rapgenius.com/lyrics/Jay-z-ft-drake/Off-that"},"data":{"api_path":"/songs/674"},"children":["Jay-Z"]}]},"",{"tag":"p","children":["After
        years without a record deal, Drake finally signed to Lil Wayne\u2019s Young
        Money Entertainment label in 2009. And in 2010, Drake released his debut album
        ",{"tag":"a","attributes":{"href":"http://rapgenius.com/posts/Drake-thank-me-later-all-the-lyrics-to-every-song-explained"},"children":[{"tag":"em","children":["Thank
        Me Later"]}]}," to critical acclaim. His second album, ",{"tag":"em","children":[{"tag":"a","attributes":{"href":"http://rapgenius.com/albums/Drake/Take-care"},"children":["Take
        Care"]}]},", dropped in November 2011 and ",{"tag":"a","attributes":{"href":"http://www.youtube.com/watch?v=5s5dLSu3pyc","rel":"nofollow"},"children":["celebrated"]},"
        with his crew for earning his first Grammy Award (for Best Rap Album) for
        the album. His third project ",{"tag":"em","children":[{"tag":"a","attributes":{"href":"http://rapgenius.com/albums/Drake/Nothing-was-the-same"},"children":["Nothing
        Was The Same"]}]}," was released September 24th, 2013."]}]}},"image_url":"http://images.rapgenius.com/2b3fa8326a5277fa31f2012a7b581e2e.500x319x11.gif","user":null,"url":"http://rapgenius.com/artists/Drake","name":"Drake","id":130}},"meta":{"status":200}}'
  recorded_at: Sat, 01 Feb 2014 22:02:08 GMT
[...]
- request:
    method: get
    uri: https://api.rapgenius.com/artists/bahahaha
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"meta":{"status":404,"message":"404 Not Found"}}'
  recorded_at: Sat, 01 Feb 2014 22:02:09 GMT
recorded_with: VCR 2.5.0
