---
http_interactions:
- request:
    method: get
    uri: https://api.rapgenius.com/artists/130?text_format=dom,plain
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"6c3d3804d2b16b894f2e653d7800a47f"'
    body:
      encoding: UTF-8
      string: '{"response":{"artist":{"description":{"dom":{"tag":"root","children":[{"tag":"p","children":["Drake
        is part of a generation of new rappers, along with ",{"tag":"a","data":{"api_path":"/artists/310"},"attributes":{"href":"http://genius.com/artists/Wiz-khalifa"},"children":["Wiz
        Khalifa"]},", ",{"tag":"a","data":{"api_path":"/artists/68"},"attributes":{"href":"http://genius.com/artists/Kid-cudi"},"children":["Kid
        Cudi"]}," and others, who came up through internet mixtapes. Drizzy put out
        three mixtapes from 2006 to 2009. These mixtapes got him the attention of
        ",{"tag":"a","data":{"api_path":"/artists/4"},"attributes":{"href":"http://genius.com/artists/Lil-wayne"},"children":["Lil
[...]
- request:
    method: get
    uri: https://api.rapgenius.com/artists/130/songs/?page=1&text_format=dom,plain
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"76c34401883857c8d1448b0f9ff00aad"'
    body:
      encoding: UTF-8
      string: '{"response":{"songs":[{"primary_artist":{"url":"http://genius.com/artists/Drake","name":"Drake","image_url":"http://images.rapgenius.com/6e996fe91d484c626f1b36686cb27d7c.450x253x70.gif","id":130},"title":"0
        to 100/The Catch Up","lyrics_updated_at":1415380761,"updated_by_human_at":1419443785,"annotation_count":1,"pyongs_count":2311,"id":156640},{"primary_artist":{"url":"http://genius.com/artists/Drake","name":"Drake","image_url":"http://images.rapgenius.com/6e996fe91d484c626f1b36686cb27d7c.450x253x70.gif","id":130},"title":"1Xtra
        Freestyle","lyrics_updated_at":1415987388,"updated_by_human_at":1415987413,"annotation_count":1,"pyongs_count":9,"id":421444},{"primary_artist":{"url":"http://genius.com/artists/Drake","name":"Drake","image_url":"http://images.rapgenius.com/6e996fe91d484c626f1b36686cb27d7c.450x253x70.[...]
[...]
- request:
    method: get
    uri: https://api.rapgenius.com/artists/bahahaha?text_format=dom,plain
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"meta":{"status":404,"message":"404 Not Found"}}'
  recorded_at: Mon, 12 Jan 2015 21:11:53 GMT
recorded_with: VCR 2.5.0
