---
http_interactions:
- request:
    method: get
    uri: https://api.rapgenius.com/songs/176872
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"20acd808e0bc8a4e2f63c30632781b2a"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"response":{"song":{"tracking_paths":{"aggregate":"/Migos-versace-lyrics","concurrent":"/Migos-versace-lyrics"},"primary_artist":{"image_url":"http://s3.amazonaws.com/rapgenius/1372663544_tumblr_mi9wzeHbPS1s459tno1_500.jpg","url":"http://rapgenius.com/artists/Migos","name":"Migos","id":44080},"description":{"dom":{"tag":"root","children":[{"tag":"p","children":["Released
        in June 2013, not only did they take the beat from Soulja Boy\u2019s ",{"tag":"a","attributes":{"href":"http://www.youtube.com/watch?v=x-jJilb4HLo","rel":"nofollow"},"children":["OMG
        part 2"]}," but they absolutely killed it."]},"",{"tag":"p","children":[{"tag":"img","attributes":{"alt":"","height":500,"width":500,"src":"http://images.rapgenius.com/cc9b2e445d9dd264e9f224f7f4aefde2.500x500x1.jpg"},"data":{"thumbnail":{"width":300,"height":300,"src":"http://images.rapgenius.com/cc9b2e445d9dd264e9f224f7f4aefde2.300x300x1.jpg"},"animated":"false"}}]}]}},"title":"Versace","updated_by_human_at":1390543197,"producer_artists":[{"image_url":"http://s3.amazonaws.com/rapgenius/Zaytoven_1-7-2011.jpg","url":"http://rapgenius.com/artists/Zaytoven","name":"Zaytoven","id":27822}],"media":[{"type":"audio","url":"https://soundcloud.com/mixtapemechaniks/migos-ft-drake-versace-remix","provider":"soundcloud"},{"type":"video","url":"http://www.youtube.com/watch?v=PAYpmylJCn0","provider":"youtube"},{"type":"audio","url":"spotify:track:6xhblLundMJAiG9jF7nlxs","provider":"spotify"}],"stats":{"hot":false,"pageviews":1843565,"concurrents":8},"featured_artists":[{"image_url":"http://images.rapgenius.com/2b3fa8326a5277fa31f2012a7b581e2e.500x319x11.gif","url":"http://rapgenius.com/artists/Drake","name":"Drake","id":130}],"url":"http://rapgenius.com/Migos-versace-lyrics","pyongs_count":30,"lyrics":{"dom":{"tag":"root","children":[{"tag":"p","children":[{"tag":"a","attributes":{"href":"/1983907/Migos-versace/Verse-1-drake","class":"has_comments"},"data":{"editorial-state":"accepted","id":"1983907"},"children":["[Verse
        1: Drake]"]},{"tag":"br"},{"tag":"a","attributes":{"href":"/2638695/Migos-versace/Versace-versace-medusa-head-on-me-like-im-luminati"},"data":{"editorial-state":"accepted","id":"2638695"},"children":["Versace,
        Versace, Medusa head on me like I''m ''luminati"]},{"tag":"br"},{"tag":"a","attributes":{"href":"/1896313/Migos-versace/This-is-a-gated-community-please-get-the-fuck-off-the-property"},"data":{"editorial-state":"accepted","id":[...]
- request:
    method: get
    uri: https://api.rapgenius.com/referents/2638695
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"04c063c67cb779f3943200beff0dcff3"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"response":{"referent":{"tracking_paths":{"aggregate":"/2638695/Migos-versace/Versace-versace-medusa-head-on-me-like-im-luminati","concurrent":"/Migos-versace-lyrics"},"song_id":176872,"annotations":[{"verified_by":null,"authors":[{"attribution":1.0,"user":{"avatar":{"tiny":{"bounding_box":{"height":16,"width":16},"url":"http://s3.amazonaws.com/rapgenius/avatars/tiny/MJLDklSFShqys2vAf1W7.gif"},"thumb":{"bounding_box":{"height":32,"width":32},"url":"http://s3.amazonaws.com/rapgenius/avatars/thumb/MJLDklSFShqys2vAf1W7.gif"}},"iq":26438.7376777,"name":"Curumno","id":11917,"role_for_display":"moderator"}}],"votes_total":1,"body":{"dom":{"tag":"root","children":[{"tag":"p","children":["Versace\u2019s
        logo is the head of Medusa from Greek mythology (who had snakes for hair and
        whose gaze turned onlookers to stone). Since supposed symbols of the ",{"tag":"a","attributes":{"href":"https://en.wikipedia.org/wiki/Illuminati","rel":"nofollow"},"children":["Illuminati"]},"
        often incorporate classical imagery and indicators of wealth, a Versace Medusa
        head would be very appropriate for Drake to wear if he were a member of the
        Illuminati"]},"",{"tag":"p","children":["Furthermore, several other famous
        rappers are accused as being associated with the Illuminati (especially ",{"tag":"a","attributes":{"href":"http://rapgenius.com/artists/Jay-z"},"children":["Jay
        Z"]}," and ",{"tag":"a","attributes":{"href":"http://rapgenius.com/artists/Kanye-west"},"children":["Kanye
        West"]},"), so Drake is subtly holding himself to their level of celebrity
        by making similar pretensions about himself"]},"",{"tag":"p","children":[{"tag":"img","attributes":{"alt":"","height":1000,"width":807,"src":"http://images.rapgenius.com/bca36ab6f88cea01921575bb41c4e2f7.807x1000x1.png"},"data":{"thumbnail":{"width":300,"height":372,"src":"http://images.rapgenius.com/bca36ab6f88cea01921575bb41c4e2f7.300x372x1.png"},"animated":"false"}}]}]}},"url":"http://rapgenius.com/2638695/Migos-versace/Versace-versace-medusa-head-on-me-like-im-luminati","share_url":"http://rapgenius.com/2638695","id":2638695}],"fragment":"Versace,
        Versace, Medusa head on me like I''m ''luminati","id":2638695}},"meta":{"status":200}}'
  recorded_at: Sat, 01 Feb 2014 22:02:15 GMT
- request:
    method: get
    uri: https://api.rapgenius.com/referents/bahahaha
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"meta":{"status":404,"message":"404 Not Found"}}'
  recorded_at: Sat, 01 Feb 2014 22:02:16 GMT
recorded_with: VCR 2.5.0
