---
http_interactions:
- request:
    method: get
    uri: https://api.rapgenius.com/songs/176872?text_format=dom,plain
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"388c576ae252dbe805bac0e794510524"'
    body:
      encoding: UTF-8
      string: '{"response":{"song":{"current_user_metadata":{"interactions":{"pyong":false},"permissions":[]},"producer_artists":[{"url":"http://genius.com/artists/Zaytoven","name":"Zaytoven","image_url":"http://s3.amazonaws.com/rapgenius/Zaytoven_1-7-2011.jpg","id":27822}],"bop_url":"http://www.bop.fm/embed/Migos/Versace/http%3A%2F%2Fgenius.com%2FMigos-versace-lyrics?pref_track%5B%5D=https%3A%2F%2Fsoundcloud.com%2Foctobersveryown%2Fmigos-versace-feat-drake&pref_track%5B%5D=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DOmHW9IzZYzU","title":"Versace","primary_artist":{"url":"http://genius.com/artists/Migos","name":"Migos","image_url":"http://images.rapgenius.com/f6bd7db3498f5cdf27cd747a4a02df13.700x420x1.jpg","id":44080},"updated_by_human_at":1419170327,"lyrics_updated_at":1419170327,"lyrics":{"plain":"[Verse
        1: Drake]\nVersace, Versace, Medusa head on me like I''m ''luminati\nThis
        is a gated community, please get the fuck off the property\nRap must be changin''
        cause I''m at the top and ain''t no one on top of me\nNiggas be wantin'' a
        verse for a verse, but man that''s not a swap to me\nDrownin'' in compliments,
        pool in the backyard that look like Metropolis\nI think I''m sellin'' a million
        first week, man I guess I''m a optimist\nBorn in Toron[...]
- request:
    method: get
    uri: https://api.rapgenius.com/referents/1983907?text_format=dom,plain
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"b19a37521c3e34f52514340ab05f2d28"'
    body:
      encoding: UTF-8
      string: '{"response":{"referent":{"twitter_share_message":{"wrapped_string":"\u201cRead
        about how this collaboration came to pass here.\n\nDrake\u2019s part seriously
        won; Versac...\u201d\u2013@RnHRRs_3A1O1I"},"path":"/1983907/Migos-versace/Verse-1-drake","api_path":"/referents/1983907","range":null,"annotations":[{"current_user_metadata":{"interactions":{"cosign":false,"vote":null},"permissions":[]},"verified_by":null,"state":"accepted","cosigned_by":[],"pinned":false,"share_url":"http://genius.com/1983907","url":"http://genius.com/1983907/Migos-versace/Verse-1-drake","votes_total":13,"body":{"plain":"Read
        about how this collaboration came to pass here.\n\nDrake\u2019s part seriously
        won; Versace used his verse in this runway show:\n\nhttp://instagram.com/p/efaUrbMBkv/","dom":{"tag":"root","children":[{"tag":"p","children":["Read
        about how this collaboration came to pass ",{"tag":"a","attributes":{"href":"http://www.complex.com/music/2013/07/migos-drake-versace-verse","rel":"nofollow"},"children":["here"]},"."]},"",{"tag":"p","children":["Drake\u2019s
        part seriously won; Versace used his verse in this runway show:"]},"",{"tag":"p","children":[{"tag":"a","attributes":{"href":"http://instagram.com/p/efaUrbMBkv/","rel":"nofollow"},"children":["http://instagram.com/p/efaUrbMBkv/"]}]}]}},"authors":[{"attribution":0.65359477124183,"user":{"avatar":{"tiny":{"url":"http://images.rapgenius.com/avatars/tiny/bd82ac2e209aa8bb8c0d519ca5f0a743","bounding_box":{"width":16,"height":16}},"thumb":{"url":"http://images.rapgenius.com/avatars/thumb/bd82ac2e209aa8bb8c0d519ca5f0a743","bounding_box":{"width":32,"height":32}}},"name":"\u200bstreetlights","iq":196994.695250385,"id":104344,"role_for_display":"regulator"}},{"attribution":0.199346405228758,"user":{"avatar":{"tiny":{"url":"http://s3.amazonaws.com/rapgenius/avatars/tiny/o7x8W33VSKoIJQCYL1r1.png","bounding_box":{"width":16,"height":16}},"thumb":{"url":"http://s3.amazonaws.com/rapgenius/avatars/thumb/o7x8W33VSKoIJQCYL1r1.png","bounding_box":{"width":32,"height":32}}},"name":"Socrates","iq":1423.40098314755,"id":90067,"role_for_display":null}},{"attribution":0.147058823529412,"user":{"avatar":{"tiny":{"url":"http://images.rapgenius.com/avatars/tiny/845fd01203157969bce194cbc8065f03","bounding_box":{"width":16,"height":16}},"thumb":{"url":"http://images.rapgenius.com/avatars/thumb/845fd01203157969bce194cbc8065f03","bounding_box":{"width":32,"height":32}}},"name":"123andtotha4","iq":71798.5189133118,"id":141291,"role_for_display":"editor"}}],"id":1983907}],"tracking_paths":{"aggregate":"/1983907/Migos-versace/Verse-1-drake","concurrent":"/Migos-versace-lyrics"},"url":"http://genius.com/1983907/Migos-versace/Verse-1-drake","id":1983907,"classification":"accepted","embed_url":"//genius.com/annotations/1983907/embed","song_id":176872,"annotatable":{"type":"Song","title":"Versace","url":"http://genius.com/Migos-versace-lyrics","id":176872},"fragment":"[Verse
        1: Drake]"}},"meta":{"status":200}}'
  recorded_at: Mon, 12 Jan 2015 21:11:57 GMT
- request:
    method: get
    uri: https://api.rapgenius.com/songs/bahahaha?text_format=dom,plain
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"meta":{"status":404,"message":"404 Not Found"}}'
  recorded_at: Mon, 12 Jan 2015 21:11:57 GMT
recorded_with: VCR 2.5.0
